{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingcomma":"all",
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxBracketsameLine":false,
  "arrowParens": "always"
}
